<!DOCTYPE html>
<html>
    <head>
        <title>Home | Twictor</title>
    </head>
    <body>
        <h1>Twictor</h1>
        <p>
        This is the home page for Twictor.
        </p>
    </body>
</html>