<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<h1>Twictor</h1>

<p>
This is the home page for Twictor.
(App based off of the RoR tutorial @ <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>)</p>