<% provide(:title, "Home") %>
<h1>Twictor</h1>
<p>
    This is the home page for Twictor.
    <br><br>
    <a href="../static_pages/about">About</a>
    <a href="../static_pages/contact">Contact</a>
    <a href="../static_pages/help">Help</a>
</p>